.container {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin: 0.5rem auto;
  width: 300px;
  padding: 1rem;
  height: 200px;
  display: grid;
  place-items: center;
}
